*{padding: 0; margin: 0; list-style-type: none; color: inherit; text-decoration: none;}
.header{width: 100%; height: 10%; box-sizing: border-box; padding: 0px 10px; border-bottom: 1px solid #000; margin: auto; background-color: #fff; position: sticky; top: 0;  display: flex; align-items: center; justify-content: space-between;}
.headerWrite{ font-weight: 700; font-size: 20px; transition: 0.3s;}
.headerWrite:hover{color: #aaa;}
.show{display: block;}
.logo{width: 10vw; padding: 20px; border: none;}
.container{width: 100%; border: 1px solid #000;}
.post{margin: 30px; box-sizing: border-box;}
#filterUpload{display: none;}
.filterUploadBtn{cursor: pointer; border: 1px solid #000; display: inline-block; margin-top: 20px; padding: 5px 10px; border-radius: 20px; background-color: #fff; transition: 0.3s; font-size: 16px;}
.filterUploadBtn:hover{background-color: #000; color: #fff;}
.profileBox{display: flex; align-items: center; padding: 10px;}
.profileName{margin-left: 10px;}
.postDeleteBtn{background-color: #fff; border: 1px solid #000; color: #000; border-radius: 20px; width: 80px; height: 30px; display: block; transition: 0.3s; cursor: pointer;}
.postDeleteBtn:hover{background-color: #000; color: #fff;}
.wi{width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center;}
.writeSubmit{margin-top: 20px; padding: 5px 30px; border-radius: 20px; border: 1px solid #000; background-color: #fff; transition: 0.3s; cursor: pointer; font-size: 16px;} 
.writeSubmit:hover{background-color: #000; color: #fff; }
.writeContainer{width: 100vw; height: 100vh;  display: flex; justify-content: center; align-items: center;}
.postImg{width: 100%;}
.profileImg{width: 50px; height: 50px; border: 1px solid #000; border-radius: 100px;}
.postContentBox{border-bottom: 1px solid #000; padding: 20px 0px;}
.postContentBox>p{padding: 10px;}
.postContentBox>input{margin: 10px; padding: 5px 10px;}
.postLikes{cursor: pointer; display: inline-block;}
.writeName{margin-top: 10px;}
.writeText{width: 400px; height: 100px; writing-mode: vertical-rl; resize: none; white-space: pre-wrap; margin-top: 10px;} 
.filterMainBox{width: 50vw; height: 50vh; border: 1px solid #000; margin: auto; display: flex;}
.filterMainBox>img{width: 100%;}
.uploadFilterImgBox{width: 100%; height: 30vh; display: flex; margin-top: 50px; padding: 20px; box-sizing: border-box;}
.uploadFilterImgBox>li{width: 20%;}
.uploadFilterImgBox>li>img{width: 100%; height: 100%;}
.moreImg{width: 50vw; height: 50vh; border: 1px solid #000;}
.footer{width: 100%; height: 50px; background-color: #fff; color: #000; position: fixed; bottom: 0; display: flex; justify-content: center; align-items: center;}
.h2c{writing-mode: vertical-rl;}